/* stylelint-disable selector-max-id */
#petTabs input:checked + label {
	background: #2c2f34;
}

#petTabs input[ type='radio' ] {
	display: none;
}

#petTabs label.pet_label {
	background: #4c4f53;
	height: 50px;
	display: inline-table;
	text-align: center;
	transition: background-color 0.15s;
}

#petTabs input:not( :checked ) + label:hover {
	background: #6e7177;
	cursor: pointer;
}

.pet_label .sprite {
	display: block;
}

.pet_tab_content {
	display: none;
	border-top-left-radius: 0;
}

#petTabs .pet_label {
	padding: 5px;
}

#petTabs .pet_label .sprite {
	margin: auto;
}

#petTabs .pet_label:nth-of-type( 1 ) {
	border-top-left-radius: 5px;
}

#petTabs .pet_label:last-of-type {
	border-top-right-radius: 5px;
}

.pet_tab:checked:nth-of-type( 1 ) ~ .pet_tab_content:nth-of-type( 1 ),
.pet_tab:checked:nth-of-type( 2 ) ~ .pet_tab_content:nth-of-type( 2 ),
.pet_tab:checked:nth-of-type( 3 ) ~ .pet_tab_content:nth-of-type( 3 ),
.pet_tab:checked:nth-of-type( 4 ) ~ .pet_tab_content:nth-of-type( 4 ),
.pet_tab:checked:nth-of-type( 5 ) ~ .pet_tab_content:nth-of-type( 5 ),
.pet_tab:checked:nth-of-type( 6 ) ~ .pet_tab_content:nth-of-type( 6 ) {
	display: block;
}
